<p id="notice"><%= notice %></p>




<!-- <h1>Orders</h1> -->
<%= render '/shared/title', title: 'test' %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.phone %></td>
        <td><%= order.description %></td>
        <td><%= link_to 'Show', order, class: "btn btn-info" %></td>
        <% if logged_in? %>
        <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class: "btn btn-danger" %>
<%= link_to 'order list', orders_path %>